<div class="next-project">
  <div class="container">
    <div class="next-project-column">
    <div class='some-page-wrapper-next-project'>
      <div class='row-next-project'>
        <div class='column-project'>
          <div class='next-project-column'>
           <div class="img-project">
             <!--<img class=" img-next-project-circle-2" src="assets/images/img-freelacer.png" alt="" />-->
             <img class=" img-next-project-circle" src="assets/images/circle-freelacer.png" alt="" />
             <img class=" img-next-project" src="assets/images/freelancer.png" alt="" />
           </div>
          </div>
        </div>
        <div class='column-project column-2-project'>
          <div class='next-project-column'>
            <p class="p-about">ABOUT ME </p>
            <h3 class="h3-title-project">Why hire us for your
              next project?</h3>
            <p class="p-next-project">We are Creative Director and UI/UX Designer from New York, working in web development and print media. We enjoy turning complex problems into simple, beautiful and intuitive design</p>
            <p class="p-next-project">Our job is to build your website so that it is functional and user-friendly but at the same time attractive.</p>
          <div class="button-next-project">
            <button class="button-download">Download CV</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
