<div class="portfolio">
  <div class="container">
    <div class="title-portofolio">
      <h4 class="h4-portofolio"> PORTFOLIO</h4>
      <h2 class="h2-my-work"> My Work Examples</h2>
    </div>

</div>
  <div class='some-page-wrapper-container'>
    <div class='row-portfolio'>
      <div class="column">
        <div class="images-design-work">
          <img src="assets/images/fish.png"  class="image">
          <div class="overlay">
            <div class="text"><p>Fresh</p>
              <img src="assets/images/Group 334.png" >
            </div>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="images-design-work">
          <img src="assets/images/app-design3.png" class="image">
          <div class="overlay">
            <div class="text"><p>Phone Mockup</p>
              <img src="assets/images/Group 334.png" >
            </div>

          </div>
        </div>
      </div>
      <div class="column">
        <div class="images-design-work">
          <img src="assets/images/web-design-trends.png"  class="image">
          <div class="overlay">
            <div class="text"><p>Design Trends</p>
              <img src="assets/images/Group 334.png" >
            </div>
          </div>
        </div>
      </div>
<div class="column">
      <div class="images-design-work">
        <img src="assets/images/Design-Will-Business-Succeed.png"  class="image">
        <div class="overlay">
          <div class="text"><p>Product Types</p>
            <img src="assets/images/Group 334.png" >
          </div>
        </div>
      </div>
</div>
    </div>
    <div class="button-portfolio">
      <button class="portfolio-view-all">View All</button>
    </div>
  </div>
</div>
