<div class="footer">
  <div class="container">
    <div class='footer-wrapper'>
      <div class='row-footer'>
        <div class='column-footer'>
          <div class='two-column-footer'>
            <img class=" img-footer" src="assets/images/footer-img.png" alt="" />
          </div>
        </div>
        <div class='column-footer '>
          <div class='two-column-footer'>
            <h3 class="h3-footer-text">We are digital designer living in United States.
              Apart from eating burger</h3>
          </div>
        </div>
      </div>
    </div>

    <div class='footer-wrapper-2'>
      <div class='row-footer'>
        <div class='column-footer-1'>
          <div class='two-column-footer '>
           <p class="p-footer">Lorem ipsum dolor sit amet,Stet clita kasd gubergren, no sea takimata</p>
          </div>
        </div>
        <div class='column-footer '>
        <div class='two-column-footer'>
         <h4 class="tittle-footer">SENT MAIL</h4>
          <p class="text-footer">info@portfolio.c</p>
        </div>
      </div>
        <div class='column-footer '>
          <div class='two-column-footer'>
            <h4 class="tittle-footer">MAKE CALL</h4>
            <p class="text-footer">+123 456 7890</p>
          </div>
        </div>
        <div class='column-footer '>
          <div class='two-column-footer'>
            <h4 class="tittle-footer">GET IN TOUCH</h4>
            <p class="text-footer">123/A,</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <div class="container last-2019-footer">
    <h5 class="footer-2019">2019 All Rights Reserved</h5>
</div>

</div>
