a.nav-link {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin: 0px 14px;
  font-size: 15px;

}
.bg-light {
  padding-top: 55px;
  background: none !important;
}
.container.header {
  max-width: 1400px;

}
.navbar-collapse {
  text-align: center;
}
form.form-inline.my-2.my-lg-0 {

  display: block;

}
