<div class="container header">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img id="img" class=" img-teamwork" src="assets/images/icon.png" alt=""/>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#" routerLink="/about-us"  routerLinkActive="active-link"  >About us</a>
        </li>
        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#">News </a>
        </li>
        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#">Resources </a>
        </li>
        <li class="nav-item active" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/sign-up">Sign up</a>
        </li>
        <li class="nav-item active" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/log-in">Log In </a>
        </li>
        <li class="nav-item active" *ngIf="isLoggedIn()">
          <a class="nav-link" href="#" (click)="logout()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
