
.sing-up {
  display: flex;
  height: 100vh;
  background: linear-gradient(to top right, #08aeea 40%, #b721ff 70%);
  justify-content: center;
  align-items: center;
}
.row{
  justify-content: center;
}
