<div class="sharing-vitality">
  <div class="background-div"></div>
  <img class=" img-sharing-icon background-icon " src="assets/images/Path 6@2x.png" alt="" />
  <img class=" img-sharing-icon ellipse-8 ellips-5" src="assets/images/Ellipse 5.png" alt="" />
  <div class="container">
    <div class='some-page-wrapper'>
      <div class='sharing-row'>
        <div class='column font-josefin'>
          <div class='sharing-column col-two '>
            <img class=" img-sharing-icon ellipse-8 icon-with" src="assets/images/Ellipse 8.png" alt="" />

           <h2 class="h2-sharing font-s">Sharing Vitality</h2>
            <img class=" img-sharing-icon ellipse-6 icon-with" src="assets/images/Ellipse 6.png" alt="" />
            <h1 class="h1-designig font-s " >Through Designing</h1>
            <p class="p-clean-desgin">clean design and advanced digital solutions</p>
            <div class="button-explore-more">

              <button class="explore-more-b"> Explore More</button>
              <p class="p see-live">See Live Damo</p>

            </div>
          </div>
        </div>
        <div class='column'>
            <div class='sharing-column '>
            <img class=" img-sharing-icon icon-6" src="assets/images/Ellipse 6.png" alt="" />
           <div>
       <img class=" img-sharing-icon background-path-27" src="assets/images/Path 27.png" alt="" />
             <img class=" img-sharing-virality" src="assets/images/2905211@2x.png" alt="" />
           </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
