<div class="trendy-news">

<div class="container-people">

  <div class="title-trendy-news">
    <h4 class="h4-trendy-blog">BLOG</h4>
    <h2 class="h2-trendy-send">Trendy News Feeds</h2>
  </div>
  <div class='some-page-wrapper' >
    <div class='row-trendy-news'  >
      <div class='column'*ngFor="let items of trendy"  >
        <div class='column-people'  >
          <img class=" img-people-says people-1 trendy-img" src="assets/images/b5.png" alt="" />
        </div>
        <div class='column-white'  >
         <p class="data-people padding-margin"> {{items.date}}</p>
          <p class="people-p padding-margin">{{items.paragraph}} </p>
          <span class="padding-margin span"> _  _  </span>
          <h4 class="h4-text-news padding-margin"> {{items.text}} </h4>
          <h6 class="know-people padding-margin"> Know -></h6>
        </div>
      </div>

     <!-- <div class='column'>
        <div class='column-people'>
          <img class=" img-people-says people-1 trendy-img" src="assets/images/b2.png" alt="" />
        </div>
        <div class='column-white'>
          <p class="data-people padding-margin">26th</p>
          <p class="people-p padding-margin"> I enjoy turning complex problems into simple, beautiful and intuitive designs.
          </p>
          <span class="padding-margin span"> _  _</span>
          <h4 class="h4-text-news padding-margin"> Lorem ipsum dolor sit amet,Stet clita </h4>
          <h6 class="know-people padding-margin"> Know -></h6>
        </div>
      </div>
      <div class='column last-column'>
        <div class='column-people'>
          <img class=" img-people-says people-1 trendy-img trendy-img" src="assets/images/b7.png" alt="" />
        </div>
        <div class='column-white'>
          <p class="data-people padding-margin">26th</p>
          <p class="people-p padding-margin"> I enjoy turning complex problems into simple, beautiful and intuitive designs.
          </p>
          <span class="padding-margin span"> _   _</span>
          <h4 class="h4-text-news padding-margin"> Lorem ipsum dolor sit amet,Stet clita </h4>
          <h6 class="know-people padding-margin"> Know -></h6>
        </div>
      </div>-->

    </div>
  </div>
        <div class="button-trendy-news">
          <button class="button-trandy-view">View All</button>
        </div>
</div>
</div>
